#logo {
    width: 170px;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #6e6e5f; 
    height: 100%;
    background-color: #fbfbe3;
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 0; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

nav a {
    color: #fbfbe3; 
}

a {
    font-family: 'Roboto', sans-serif;
    color: #3A7D52; 
    text-decoration: none; 
    font-weight: normal; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #99C48F; 
}

header {
    background-color: #47a35d;
    height: 150px;
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

.header-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
    max-width: 100%; 
}

form {
    display: flex;
    gap: 5px;
}

nav {
    background-color: #66B77A;
    display: flex;
    justify-content: space-evenly;
}

section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 25px; 
    margin-bottom: 50px;
}

section > div {
    width: 1600px;
    max-width: 2000px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

section > div > h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; 
}

/* Mapa*/
#map {
    height: 700px; 
    width: 100%;
    z-index: 1; 
}

.popup-img {
    width: 200px;
    height: auto;
    display: block;
    margin-top: 5px;
}

#search-container {
    margin: 10px 0;
    position: absolute; 
    right: 0; 
    top: 50px; 
    z-index: 2; 
}

footer {
    background-color: #092b2c;
    color: #fbfbe3; 
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
}
